<configuration>
  <system.webServer>
    <handlers>
            <add name="DJangofastCGI" path="." verb="*" modules="FastCgiModule" scriptProcessor="D:\software\python.exe|D:\projects\test_center\test_center-master\wfastcgi.py" resourceType="Unspecified" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\software\python.exe|D:\software\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\projects\test_center\test_center-master" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="D:\projects\my_app.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="DJANGO_SETTINGS_MODULE" value="Test_Center.settings" />
  </appSettings>
</configuration>